.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #f62682;
  margin-bottom: 10%;
}
.menu {
  margin-bottom: 5%;
}
.logo img {
  margin-right: 8px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 8px 15px;
  border-radius: 25px;
  width: 300px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 10px;
  width: 100%;
}

.search-bar i {
  color: gray;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.recipe-box {
  background-color: #fde2e4;
  color: #f62682;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.recipe-box i {
  font-size: 14px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
